In [97]:
import pandas as pd
df = pd.read_csv('Book1.csv')

In [98]:
df.head()

,cv_number,mod_date,pub_date,cvss,cwe_code,cwe_name,summary,base_score,base_severity
0,CVE-2024-0007,2024-02-15T06:23Z,2024-02-14T18:15Z,NaN,NaN,NaN,NaN,NaN,NaN
1,CVE-2024-0008,2024-02-15T06:23Z,2024-02-14T18:15Z,NaN,NaN,NaN,NaN,NaN,NaN
2,CVE-2024-0009,2024-02-15T06:23Z,2024-02-14T18:15Z,NaN,NaN,NaN,NaN,NaN,NaN
3,CVE-2024-0010,2024-02-15T06:23Z,2024-02-14T18:15Z,NaN,NaN,NaN,NaN,NaN,NaN
4,CVE-2024-0011,2024-02-15T06:23Z,2024-02-14T18:15Z,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
columns = ['cv_number','base_severity']

In [94]:
df = df[columns]

In [95]:
df.head()

       cv_number base_severity
0  CVE-2024-0007           NaN
1  CVE-2024-0008           NaN
2  CVE-2024-0009           NaN
3  CVE-2024-0010           NaN
4  CVE-2024-0011           NaN

# Label Encoding

In [71]:
from sklearn.preprocessing import LabelEncoder

# Label encode cv_number and severity
le_cv = LabelEncoder()
df['cv_number'] = le_cv.fit_transform(df['cv_number'])

le_severity = LabelEncoder()
df['base_severity'] = le_severity.fit_transform(df['base_severity'])

In [72]:
df.head(100)

    cv_number  base_severity
0           0              4
1           1              4
2           2              4
3           3              4
4           4              4
..        ...            ...
95         95              0
96         96              0
97         97              1
98         98              4
99         99              4

[100 rows x 2 columns]

In [73]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [74]:
X = df[['cv_number']]  # Assuming these are features
y = df['base_severity']  # This is the label to predict

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# LOGISTIC REGRESSION

In [76]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=1000)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

y_pred = model.predict(X_test)


# Calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')  # Weighted average for imbalanced datasets
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

# Print the metrics
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-Score:", f1)

Accuracy: 0.7117948717948718
Precision: 0.506651939513478
Recall: 0.7117948717948718
F1-Score: 0.591954033583752

c:\Users\DELL\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

# RANDOM FOREST

In [77]:
from sklearn.ensemble import RandomForestClassifier

# Build a random forest model
model1 = RandomForestClassifier(n_estimators=100)  # Adjust hyperparameters as needed

model1.fit(X_train, y_train)

y_pred1 = model1.predict(X_test)

# Calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred1)
precision = precision_score(y_test, y_pred1, average='weighted')  # Weighted average for imbalanced datasets
recall = recall_score(y_test, y_pred1, average='weighted')
f1 = f1_score(y_test, y_pred1, average='weighted')

# Print the metrics
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-Score:", f1)

Accuracy: 0.7466666666666667
Precision: 0.7390849502591845
Recall: 0.7466666666666667
F1-Score: 0.7425772930900942

# SVC

In [78]:
from sklearn.svm import SVC

# Build an SVC model
model2 = SVC()  # Adjust hyperparameters as needed

model2.fit(X_train, y_train)

y_pred2 = model2.predict(X_test)

# Calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred2)
precision = precision_score(y_test, y_pred2, average='weighted',zero_division=1)  # Weighted average for imbalanced datasets
recall = recall_score(y_test, y_pred2, average='weighted', zero_division=1)
f1 = f1_score(y_test, y_pred2, average='weighted')

# Print the metrics
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-Score:", f1)

Accuracy: 0.7117948717948718
Precision: 0.7948570677186062
Recall: 0.7117948717948718
F1-Score: 0.591954033583752

In [79]:
data = pd.read_csv('2024.csv')

In [80]:
data.head()

              CVE  Severity
0  CVE-2024-24790  Critical
1  CVE-2024-24789    Medium
2  CVE-2024-24787    Medium
3  CVE-2024-24791   Unknown
4  CVE-2024-24785   Unknown

# Testing

In [90]:
# CVE-2024-0743,2024-03-25T17:15Z,2024-01-23T14:15Z,,,,,7.5,HIGH
# CVE-2024-0738,2024-04-11T01:24Z,2024-01-19T22:15Z,,,,,9.8,CRITICAL
# CVE-2024-24787,Medium

new_cv = 'CVE-2024-24787'

# Create a DataFrame for the new data point
new_data = pd.DataFrame({'cv_number': [new_cv]})

# Encode the new CVV number
encoded_cv = le_cv.transform(new_data['cv_number'])

# Prepare the encoded data for prediction
encoded_data = pd.DataFrame({'cv_number': encoded_cv})

# Predict the severity level for the new data point
predicted_severity = model1.predict(encoded_data)[0]
print(predicted_severity)

4